[Oo]bj/
[Bb]in/
[lL]ogs/
merged/
fubu-packages/
fubu-content/
compass-images/
*.ReSharper
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Tt]eam[Cc]ity.user
*.suo
*.swo
*.swp
*.swn
*.swm
*.cache
~$*
*.stresult
*.
*.pidb
*.userprefs
*sass-cache/
*.esent
*.vsp*
*~
*.zip
*.scssc
*.orig
*.vsmdi
*.log
*-built.js
tempIIS.config
*.docstates
*.bin
cache
gems
specifications
Deploy
Publish
packages
Build
!vendor/cache
vendor
*.user
*.DotSettings
*.DotSettings.*
*.ncrunchsolution
*.ncrunchsolution.*
*.sublime*
TestResult.xml
results
.bottle-alias
storyteller.cmd
run_st.cmd
src/data
editor.htm
testEditor.css
history.xml
artifacts
storyteller.cmd
run_st.cmd
src/CommonAssemblyInfo.cs
ssn_data.csv
data.csv
export/*.csv
.links
st-results/
*.DS_Store
st-artifacts/
StoryTellerDebug.cs
node_modules/
fubutransportation.esent.*
.mimosa/
Solution Items/
WebEssentials-settings.json
WE-Palette.css
**/missing.locale.config
.vs/
stresults.htm
.settings/
/src/ExtendHealth.ComplemaxUI/public
paket.exe